parameters:
    ignoreErrors:
        # Tested error for wrongly passed argument to Address constructor:
        - '#array<Genkgo\\Mail\\Address>, array<int, string>#'

includes:
- vendor/phpstan/phpstan-phpunit/extension.neon