language: php
php:
  - 7.1
  - 7.2
  - nightly
matrix:
  include:
    - php: 7.1
      env: dependencies=lowest
    - php: 7.1
      env: dependencies=highest
    - php: 7.2
      env: dependencies=lowest
    - php: 7.2
      env: dependencies=highest
  allow_failures:
    - php: nightly
script:
    - ./vendor/bin/phpunit -c phpunit.xml --coverage-clover=coverage.clover
    - ./vendor/bin/phpstan analyse -l max src
    - ./vendor/bin/phpstan analyse -l max -c .phpstan.test.neon test
    - if [ "$TRAVIS_PHP_VERSION" != "nightly" ] && [ -z "$dependencies" ]; then ./vendor/bin/php-cs-fixer fix --dry-run --verbose --config .php_cs.dist ./src ./test ; fi
before_script:
  - composer self-update
  - if [ "$TRAVIS_PHP_VERSION" = "nightly" ]; then composer remove --dev --no-update friendsofphp/php-cs-fixer ; fi
  - if [ -z "$dependencies" ]; then composer install; fi;
  - if [ "$dependencies" = "lowest" ]; then composer update --prefer-lowest -n; fi;
  - if [ "$dependencies" = "highest" ]; then composer update -n; fi;
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
cache:
  directories:
    - $HOME/.composer/cache/files/
    - $HOME/.php-cs-fixer